[Unit]
Description=Snapshot GDLauncher Minecraft Instances

[Service]
Type=oneshot
ExecStart=/home/chilly/code/dotfiles/home/scripts/minecraft_backup.sh
