@import "colors.css";

* {
  font-family: "JetBrainsMono Nerd Font";
  font-size: 14px;
  font-weight: bold;
  border: none;
  border-radius: 0;
  min-height: 0;
}

window#waybar {
  background: transparent;
}

#island-left,
#island-center,
#island-right {
  background-color: alpha(@base, 0.85);
  border-radius: 16px;
  padding: 2px 8px;
  margin: 4px 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  transition: all 0.3s cubic-bezier(0.25, 1, 0.5, 1);
}

#custom-launcher {
  background-color: alpha(@base, 0.85);
  border-radius: 16px;
  padding: 2px 14px 2px 10px;
  margin: 4px 4px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.4);
  color: @blue;
  font-size: 18px;
  transition: all 0.2s ease;
}

#custom-launcher:hover {
  text-shadow: 0px 0px 8px alpha(@blue, 0.6);
}

#workspaces,
#window,
#custom-spotify,
#clock,
#tray,
#cpu,
#temperature,
#pulseaudio,
#bluetooth {
  color: @text;
  padding: 0px 6px;
  margin: 0px 2px;
}

/* --- Workspaces --- */
#workspaces {
  padding: 0px 4px;
}

#workspaces button {
  color: @muted;
  border-radius: 10px;
  margin: 2px;
  padding: 0 4px;
  transition: all 0.2s ease;
}

#workspaces button:hover {
  background: transparent;
  color: @peach;
  text-shadow: 0px 0px 5px rgba(242, 162, 132, 0.4);
}

#workspaces button.active {
  color: @peach;
}

/* --- Modules --- */
#window {
  color: @text;
  margin-left: 8px;
}

#custom-spotify {
  color: @purple;
}

#clock {
  color: @yellow;
}

#cpu {
  color: @blue;
}

#temperature {
  color: @rose;
}

#temperature.critical {
  color: @red;
  animation-name: blink;
  animation-duration: 0.5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

#pulseaudio {
  color: @peach;
}

#pulseaudio.muted {
  color: @muted;
}

#bluetooth {
  color: @blue;
}

@keyframes blink {
  to {
    color: @base;
    background-color: @red;
  }
}
